# 1. Farmers' Market Expansion
<p>You have been hired by a farming organisation that helps local farmers sell their products. They want to know whether they should open up a new farmers' market to sell dairy products from nearby farmers. They have supplied you with daily shopping data from a panel of local households from 2019 to 2020. </p>
<p>The organization will make their decision based on whether dairy products are popular in the area, and whether sales are trending in a positive direction. To answer these questions, they want three pieces of data:</p>
<ol>
<li>What was the total number of purchases of dairy products for each month of 2020 (i.e., the <code>total_sales</code>)?</li>
<li>What was the total share of dairy products (out of all products purchased) for each month of 2020 (i.e., the <code>market_share</code>)?</li>
<li>For each month of 2020, what was the percentage increase or decrease in total monthly dairy purchases compared to the same month in 2019 (i.e., the <code>year_change</code>)?</li>
</ol>
<p>The organization handles not only dairy farmers, but also those with chicken farms. As a result, they are only interested in these three categories (which they treat as dairy): ‘whole milk’, 'yogurt' and 'domestic eggs'.</p>
<p>The data you need is available in the tables shown in the database schema below.</p>
<h5 id="databaseschema">Database Schema</h5>
<p><img src="https://assets.datacamp.com/production/repositories/5960/datasets/463543c8c38957ca5b95d93b02f2cb1bec53334f/diagram.PNG" alt="Database Schema" width="400px"></p>

In [122]:
%%sql
postgresql:///groceries
    -- ap represents all products purchased in 2020 --
WITH ap AS (SELECT CAST(EXTRACT(MONTH FROM (TO_DATE(fulldate, 'YYYY-MM-DD'))) AS INTEGER) AS month, 
             COUNT(p20.purchaseid) AS total_sales_1 
             FROM purchases_2020 AS p20
             GROUP BY month),

--dp20 represents dairy products purchased in 2020 --
dp20 AS (SELECT CAST(EXTRACT(MONTH FROM (TO_DATE(fulldate, 'YYYY-MM-DD'))) AS INTEGER) AS month, 
        COUNT(p20.purchaseid) AS total_sales 
        FROM purchases_2020 AS p20 
        LEFT JOIN categories AS c ON c.purchase_id = p20.purchaseid 
        WHERE category IN ('whole milk', 'yogurt', 'domestic eggs') 
        GROUP BY month), 

-- dp19 represents dairy products purchased in 2019 --
dp19 AS (SELECT month, COUNT(p19.purchase_id) AS total_sales_2 
        FROM purchases_2019 AS p19 
        LEFT JOIN categories AS c ON c.purchase_id = p19.purchase_id 
        WHERE category IN ('whole milk', 'yogurt', 'domestic eggs') 
        GROUP BY month)

SELECT CAST(dp20.month AS INTEGER), CAST(total_sales AS INTEGER),
ROUND(CAST(total_sales::FLOAT * 100/total_sales_1 AS NUMERIC), 2) AS market_share,
ROUND(CAST((total_sales - total_sales_2) * 100/total_sales_2::FLOAT AS NUMERIC), 2) AS year_change
FROM ap 
LEFT JOIN dp20 USING (month)
LEFT JOIN dp19 ON ap.month = dp19.month 
ORDER BY month

12 rows affected.

[(1, 228, Decimal('12.47'), Decimal('48.05')),
 (2, 165, Decimal('11.11'), Decimal('5.10')),
 (3, 216, Decimal('12.05'), Decimal('27.81')),
 (4, 218, Decimal('13.09'), Decimal('26.01')),
 (5, 195, Decimal('11.40'), Decimal('17.47')),
 (6, 196, Decimal('10.94'), Decimal('20.99')),
 (7, 195, Decimal('11.85'), Decimal('-0.51')),
 (8, 231, Decimal('11.77'), Decimal('32.00')),
 (9, 180, Decimal('11.16'), Decimal('4.65')),
 (10, 193, Decimal('11.61'), Decimal('17.68')),
 (11, 223, Decimal('12.55'), Decimal('36.81')),
 (12, 162, Decimal('10.42'), Decimal('8.72'))]