In [44]:
import pandas as pd
import uuid
df = pd.read_csv('groceries_raw.csv')

In [45]:
ids = [uuid.uuid4() for x in range(0, len(df))]

In [46]:
df['item_id'] = ids

In [47]:
df.columns = ['member_id', 'full_date', 'category', 'year', 'month', 'day', 'day_of_week', 'purchase_id']

In [48]:
df1 = df[['member_id', 'full_date', 'year', 'month', 'day', 'day_of_week', 'purchase_id']]
categories = df[['purchase_id', 'category']]

In [49]:
df_2014 = df1[df1.year == 2014]
df_2015 = df1[df1.year == 2015]

In [50]:
df_2014.head(2)

,member_id,full_date,year,month,day,day_of_week,purchase_id
8696,1664,2014-01-10,2014,1,10,4,8a0ebee9-5fca-4c67-af3a-b6b18700b517
8697,3942,2014-12-16,2014,12,16,1,b8b399c0-0717-4bb9-9ada-55247b5ffd88

In [51]:
df_2015.columns = ['MemberID', 'FullDate', 'Year', 'Month', 'Day', 'DayofWeek',
       'PurchaseID']

In [52]:
df_2015 = df_2015.drop(columns=['Year', 'Month', 'Day'])

In [53]:
df_2014.to_csv('2014_purchases.csv', index=False)
df_2015.to_csv('2015_purchases.csv', index=False)
categories.to_csv('categories.csv', index=False)

In [55]:
for d in [df_2014, df_2015, categories]:
    print(d.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18277 entries, 8696 to 38764
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   member_id    18277 non-null  int64
 1   full_date    18277 non-null  object
 2   year         18277 non-null  int64
 3   month        18277 non-null  int64
 4   day          18277 non-null  int64
 5   day_of_week  18277 non-null  int64
 6   purchase_id  18277 non-null  object
dtypes: int64(5), object(2)
memory usage: 1.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20488 entries, 0 to 37118
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MemberID    20488 non-null  int64
 1   FullDate    20488 non-null  object
 2   DayofWeek   20488 non-null  int64
 3   PurchaseID  20488 non-null  object
dtypes: int64(2), object(2)
memory usage: 800.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   purchase_id  38765 non-null  object
 1   category     38765 non-null  object
dtypes: object(2)
memory usage: 605.8+ KB
None

In [13]:
df2.head()

     FullDate
0  2020-07-21
1  2020-05-01
2  2020-09-19
3  2020-12-12
4  2020-01-02

In [10]:
df_2019 = df1.full_date.str.replace('2014', '2019')
df_2020 = df2.FullDate.str.replace('2015', '2020')

In [11]:
df_2019.to_csv('2019_purchases.csv', index=False)
df_2020.to_csv('2020_purchases.csv', index=False)

In [14]:
import pandas as pd
df1 = pd.read_csv('2019_data.csv')
df2 = pd.read_csv('2020_data.csv')

In [16]:
df1['full_date'] = df1.full_date.str.replace('2014', '2019')
df2['FullDate'] = df2.FullDate.str.replace('2015', '2020')

In [19]:
df1.to_csv('2019_purchases.csv', index=False)
df2.to_csv('2020_purchases.csv', index=False)